
.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.first-container{
 
  max-width: 1600px%;
  width: 71%;
  display: flex;
  justify-content: space-between  ;
  margin:0 ;
  align-items: center;  
      
 

}
.first-container .img{
  width: 800px;
}

.first-container .content h1{
  width: 525px;
  font-size: 65px;
  color: #151414; 

}
.first-container .content p{
  
  font-size: 16px;
  
  color: #444343;
  line-height: 24px;
}
.btn{
  width: 160px ;
  height: 64px;
  color:white;
  background-color: #F15B22;
  border-radius: 5px;
  border: none;
 align-items: flex-end;
}
.lesson{
  display: flex;
  align-items: center;

}
.pic{
  width: 579px;
  margin-top: 131px;
  margin-left: 206px;
  margin-right: 87px;
}
.para{
  width: 416px;
  height: 400px;
  margin-top: 370px;
  margin-left: 87px;
  margin-right: 322px;
}
.para h2{
  width: 288px;
  font-size: 40px;
  color: #151414;
}
.para p{
  width: 416px;
  font-size: 16px;
  color: #444343;
  margin-top: 24px;
}
.para ul{
  width: 349px;
  color: #444343;
  font-size: 16px;
  margin-top: 16px;
}

  .logo{
    display: flex;
    justify-content: space-around;
  }
  .plan{
    width: 1141px;
    margin-left: 230px;
    margin-right: 230px;
    align-items: center;
  }
  .lebel{
    justify-content: center;
    width: 179px;
    font-size: 40px;
    font-weight: bold;
    
  
    margin-right: 710px;
    margin-left: 710px;
    text-align: center;
  }
  .logo p{
    align-items: center   ;
  }
  .logo img{
    width: 92px;
  }
  .banner{
    width: 1140PX;
    background-image: url("../images/watch.png");
    
    background-position: center;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-left: 230px;
    margin-right: 230px;
  }
  .gradient{
    position: absolute;
    top: 0;
    left: 0;

    object-fit: cover;
    width: 100px;
    height: 10000px;
    opacity: 0.85;
  }
  .banner-content{
    position: relative;
    padding-left: 64px;
    color: white;
    z-index: 2;

  }
  .banner-content button{
    width: 160px;
    height: 64px;
    border-radius: 5px;
    color: #F15B22;
    background-color: white;
    cursor: pointer;
  }